@model ActionBoard.Models.Todo

@{
    ViewData["Title"] = "Create Todo";
}

<div class="create-container">
    <div class="create-form-container">
        <div class="create-form-content">
            <h3 class="create-form-title">Create New Todo</h3>
            <form asp-action="Create" method="post" class="create-form">
                <div class="create-form-group">
                    <div>
                        <label asp-for="Title" class="create-form-label">Title</label>
                        <div class="create-form-input-container">
                            <input asp-for="Title" type="text" class="create-form-input" autofocus />
                        </div>
                    </div>

                    <div>
                        <label asp-for="Description" class="create-form-label">Description</label>
                        <div class="create-form-input-container">
                            <textarea asp-for="Description" rows="3" class="create-form-textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="create-form-actions">
                    <a asp-action="Index" class="btn-cancel">
                        Cancel
                    </a>
                    <button type="submit" class="btn-create">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 